---
# .gxtk.yml.sample:
# copy this file to ~/.gxtk.yml or store path in GXTK_PROFILES_PATH
# store as many url/api_key combinations as you like.
# each profile must have a url.  The api_key is optional
# -p <profile-key> in get_tool_details.py etc can used instead of specifying galaxy url and api key
# the default profile is loaded in the absence of -p (--profile), -g (--galaxy_url) or -a (--api_key) flags.

# This style has been updated (28/6/22) to be identical to parsec.  To use your parsec config file instead
# of this one `export GXTK_PROFILES_PATH=~/.parsec.yml`

__default: au
au:
    url: https://usegalaxy.org.au
    # key: a1b2c3d4
eu:
    url: https://usegalaxy.eu

usa:
    url: https://usegalaxy.org